<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ObsidianUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ObsidianUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ObsidianUpload.Properties.Settings>
            <setting name="OauthToken" serializeAs="String">
                <value/>
            </setting>
            <setting name="OauthTokenSecret" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastCampaignId" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastCampaignName" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastCharacterId" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastCharacterName" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value/>
            </setting>
        </ObsidianUpload.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ObsidianUpload.Properties.Settings>
            <setting name="OauthConsumerKey" serializeAs="String">
                <value>YsfgE7kmb9rFGAripZig</value>
            </setting>
            <setting name="OauthConsumerSecret" serializeAs="String">
                <value>wex3fV4EkUjLqj28MadH0hIE45RgfLwVKasnI6vz</value>
            </setting>
        </ObsidianUpload.Properties.Settings>
    </applicationSettings>
</configuration>
